@font-face {
    font-family: "Lato";
    src: url(./Lato.ttf) format("truetype");
  }

*{
    font-family: 'Lato';
}
body {
    background-color:white;
}
#editor {
    padding: 0px 15px 5px 15px;
}
*:focus {
    outline: none
}
