@font-face {
    font-family: "Lato";
    src: url(./Lato.ttf) format("truetype");
  }

*{
    font-family: 'Lato';
}
body {
    background-color:white;
}
#editorWindow {
    width: 700px;
    height: 500px;
}
*:focus {
    outline: none
}
